html
    head
        title name
    body
         table.table.table(border=5)
            thead
                tr: th Sl.no
                    th TempName
                    th Description
                    th Edit
                    th Delete
                    
            tbody
                each personSchema in user
                  tr  
                      td=personSchema.no
                      td=personSchema.name 
                      td=personSchema.des
                      td=div
                       button(type='button' onclick='edit("'+personSchema.id+'")') edit  
                      script.
                        function edit(a){
                        window.location.href="http://localhost:8000/edit/"+a+""
                        }
                      td=div
                       button(type='button' onclick='del("'+personSchema.no+'")') delete 
                      script.
                        function del(a){
                        window.location.href="http://localhost:8000/delete/"+a+""
                        }
                        
       button(type='button' onclick='add()') Add 
                      script.
                        function add(){
                        window.location.href="http://localhost:8000/create"
                        }
      